
.icon-mobile:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-mail-alt:before { content: '\e803'; } /* '' */
.icon-right-hand:before { content: '\e804'; } /* '' */
.icon-cc-visa:before { content: '\e805'; } /* '' */
.icon-cc-mastercard:before { content: '\e806'; } /* '' */
.icon-cc-paypal:before { content: '\e807'; } /* '' */
.icon-facebook:before { content: '\e808'; } /* '' */
.icon-youtube:before { content: '\e809'; } /* '' */
.icon-gplus:before { content: '\e80a'; } /* '' */
.icon-cab:before { content: '\e80b'; } /* '' */
.icon-right-big:before { content: '\e80c'; } /* '' */
.icon-left-big:before { content: '\e80d'; } /* '' */
.icon-male:before { content: '\e80e'; } /* '' */
.icon-search:before { content: '\e80f'; } /* '' */
.icon-thumbs-up:before { content: '\e810'; } /* '' */
.icon-menu:before { content: '\e811'; } /* '' */
.icon-down-dir:before { content: '\e812'; } /* '' */
.icon-right-dir:before { content: '\e813'; } /* '' */
.icon-truck:before { content: '\e814'; } /* '' */
.icon-basket:before { content: '\e815'; } /* '' */
.icon-cog-alt:before { content: '\e816'; } /* '' */
.icon-wrench:before { content: '\e817'; } /* '' */
.icon-home:before { content: '\e818'; } /* '' */
.icon-info:before { content: '\e819'; } /* '' */
.icon-help:before { content: '\e81a'; } /* '' */
.icon-money:before { content: '\e81b'; } /* '' */
.icon-cubes:before { content: '\e81c'; } /* '' */
.icon-cube:before { content: '\e81d'; } /* '' */
.icon-hammer:before { content: '\e81e'; } /* '' */
.icon-clock-1:before { content: '\e820'; } /* '' */